<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOSPITAL</title>
    <script src="../static/js/jquery.min.js" charset="utf-8"></script>
    <script src="../static/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="../static/vue/vue.min.js"></script>
    <script src="../static/vue/vue-tables-2.min.js"></script>


    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <style media="screen">
      .margin-top-5{margin-top: 5px;}
    </style>

  </head>
  <body>
    <div class="container-fluid" id="master-page">

      <!-- main view -->
      <div class="row text-center">
        <h1>Publish A Prescription</h1>
      </div>
      <div class="row margin-top-5">
        <div class="col-md-12 well">
          <div class="col-xs-6">
            <span>hospital:: </span>
          </div>
          <div class="col-xs-6">
            <span><input type="text" class="form-control" v-model="new_data.hospital"></input></span>
          </div>
        </div>
        <div class="col-md-12 well">
          <div class="col-xs-6">
            <span>patient:: </span>
          </div>
          <div class="col-xs-6">
            <span><input type="text" class="form-control" v-model="new_data.patient"></input></span>
          </div>
        </div>
        <div class="col-md-12 well">
          <div class="col-xs-6">
            <span>doctor:: </span>
          </div>
          <div class="col-xs-6">
            <span><input type="text" class="form-control" v-model="new_data.doctor"></input></span>
          </div>
        </div>
        <div class="col-md-12 well">
          <div class="col-xs-6">
            <span>diagnose:: </span>
          </div>
          <div class="col-xs-6">
            <span><input type="text" class="form-control" v-model="new_data.diagnose"></input></span>
          </div>
        </div>
        <div class="col-md-12 well">
          <div class="col-xs-6">
            <span>time:: </span>
          </div>
          <div class="col-xs-6">
            <span><input type="text" class="form-control" v-model="new_data.time"></input></span>
          </div>
        </div>
        <div class="col-md-12 well">
          <div class="col-xs-6">
            <span>prescription ID:: </span>
          </div>
          <div class="col-xs-6">
            <span><input type="text" class="form-control" v-model="new_data.prescription_ID"></input></span>
          </div>
        </div>
        <div class="col-md-12 well">
          <div class="col-xs-6">
            <span>prescription content:: </span>
          </div>
          <div class="col-xs-6">
            <span><button class="btn btn-sm btn-success btn-block" @click="addDrug('call')"><span class="glyphicon glyphicon-plus"></span></button></span>
          </div>
          <div class="col-xs-12 margin-top-5">
            <div class="col-xs-3 margin-top-5" v-for="(v, k) in new_data.prescription_content"><button class="btn btn-warning btn-md btn-block">{{v.name}} <span class="badge">{{v.qty}}</span></button></div>
          </div>
        </div>
      </div>

      <div class="row margin-top-5">
        <div class="col-md-12">
          <button class="btn btn-info btn-block btn-lg" @click="publish()">publish</button>
        </div>
      </div>

      <!-- modal -->
      <div class="modal fade" tabindex="-1" role="dialog" id="Add_Drug_Modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Add Drug</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6 margin-top-5">
                  <input type="text" class="form-control" v-model="new_drug.name" placeholder="drug name">
                </div>
                <div class="col-md-6 margin-top-5">
                  <input type="number" class="form-control" v-model="new_drug.qty" placeholder="drug quantity">
                </div>
                <div class="col-md-6 margin-top-5">
                  <input type="text" class="form-control" v-model="new_drug.remark" placeholder="remark">
                </div>
                <div class="col-md-6 margin-top-5">
                  <input type="text" class="form-control" v-model="new_drug.usage" placeholder="drug usage">
                </div>
              </div>
            </div>
            <div class="modal-footer margin-top-5">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" @click="addDrug()" :disabled="new_drug.name==''||new_drug.qty<1">Finish</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>

  </body>

  <!-- vue -->
  <script>
  Vue.use(VueTables.ClientTable);
  var app = new Vue({
  	el: '#master-page',
  	data: function(){
  		return {
  			edit_flag: false,
  			hospital_confidential_data: {
          attr:[],
          hid:[],
        },
        new_data:{
          type:0,
          hospital:"",
          patient:"",
          disease:"",
          doctor:"",
          diagnose:"",
          time:"",
          prescription_ID:"",
          prescription_content:[], //data

          ts:"current timestamp",
          hospital_ID:"",
          patient_ID:"",
        },
        new_drug:{
          name:"",
          chemistry_name:"",
          qty: 0,
          remark: "",
          usage: "",
          amount: "",
        },
        drug_list:[],
        history_prescription_list:[],
  		}
  	},
  	methods: {
  		func: function(){
  			var _this = this;
  			var postData = {};
  			postData["receiver"] = 999;
  			console.log(postData)
  			$.post("...",postData,function(data,status){
  				if (status=="success") {
  					console.log(data)
  				}else{alert("Error!Code: "+status);}
  			});
  			return;
  		},
  		addDrug: function(aux){
        if (aux=="call") {
          this.new_drug = this.blankDrug()
          $("#Add_Drug_Modal").modal("show"); return;
        }
        var tmp = this.blankDrug()
        tmp.name = this.new_drug.name
        tmp.qty = this.new_drug.qty
        tmp.remark = this.new_drug.remark
        tmp.usage = this.new_drug.usage

        this.new_data.prescription_content.push(tmp)

        $("#Add_Drug_Modal").modal("hide"); return;
  		},
  		getDrugList: function(){
        return 0
  		},
  		getOneDrugInfo: function(){
        return 0
  		},
  		getHospitalList: function(){
        return 0
  		},
  		generatePrescriptionID: function(){
        return 0
  		},
  		publish: function(){
        return 0
  		},
      // util functions
      blankDrug: function(){
        return {
          name:"",
          qty: 0,
          remark: "",
          usage: "",
        }
      },
  	},
  	computed: {
  	},
  	created(){
  		// this.fetch_person_info();
  		// this.fetch_history_record();
  	}
  });
  </script>
</html>
